<p><%= I18n.t('user_mailer.confirm.greetings', name: @verification.user.name) %></p>
<p><%= I18n.t('user_mailer.confirm.body', token: @verification.token) %></p>
<p><%= I18n.t('user_mailer.confirm.footer') %></p>