<p><%= I18n.t('user_mailer.reset.greetings', name: @verification.user.name) %></p>
<p><%= I18n.t('user_mailer.reset.body', token: @verification.token) %></p>
<p><%= I18n.t('user_mailer.reset.footer') %></p>